
@model IEnumerable<books>
@{
    ViewData["Title"] = "List Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Des)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalpages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Des)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Totalpages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>All Books</h1>
            <p class="lead text-muted">
                Here all books in database can you store from us !
            </p>

        </div>
    </section>

    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">

                <div class="card mb-4 shadow-sm">
                    <svg class="pd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg">    </svg>
                    <div class="card-body">
                        <h3 class="h3">@book.Title</h3>
                        <p class="card-text">@book.Des</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-route="bookdetailsroute" asp-fragment="IDBook" asp-route-ID="@book.ID" class="btn btn-sm btn-outline-secondary">View Detailes</a>
                            </div>
                            <small class="text-muted">@book.Author</small>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>